/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.25rem;
    padding: 0 5rem;
    margin: 1.5rem 0;
}

h1 {
    font-family: var(--font-family-h1);
}

.logo-links,
nav,
.logar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-links {
    gap: 2rem;
}

.img-text {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

nav {
    gap: 2rem;
    font-family: var(--font-family-medium-p);
}

.logar {
    gap: 1rem;
} 

.profile-select {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.profile-select input[type="radio"] {
    display: none;
}

.profile-select label {
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-button);
    transition: background-color 0.3s;
}

.profile-select input[type="radio"]:checked + label {
    background-color: var(--color-button);
    color: #fff;
}





footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3125rem;
    padding: 2.5rem 0;
    text-align: center;
}
