body{
    background-color: var(--background-lading-section);
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 5.25rem; /* 84px */
    padding: 0 5rem; /* 80px */
    margin: 1.5rem 0; /* 80px */
}

h1{
    font-family: var(--font-family-h1);
}

.logo-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem; /* 32px */
}

.img-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem; /* 12px */
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem; /* 32px */
    font-family: var(--font-family-medium-p);
}

.logar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem; /* 16px */
}

/* cta */
.cta{
    padding: 0 5rem; /* 80px */
    margin: 1.5rem 0; /* 80px */
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: space-around;
}

.cta-text{
    display: flex;
    flex-direction: column;
    gap: 1.5rem; /* 24px */
}

.cta-text-title{
    display: flex;
    flex-direction: column;
    gap: 1.5rem; /* 24px */
}

.cta-text-title > h1{
    font-size: var(--font-size-h1);
}

.cta-text-title > p{
    font-size: var(--font-size-regular-p);
    font-family: var(--font-family-regular-p);
}

.cta-text > p{
    font-size: var(--font-size-regular-p);
    font-family: var(--font-family-regular-p);
}

.cta > img{
    width: 532px;
    height: 416px;
}

.buttons-cta{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem; 
}