@import url(./fonts.css);

:root {
    /* Background */
    --background-landing: #F9FAFB;    
    --background-lading-section: #F2F2F2;
    --background-nav: #FFFFFF;    
    --background-main: #E9EDF7;
    
    /* Color */
    --color-text-landing-primary: #000000; 
    --color-text-lading-secundary: #6B7280;

    --color-text-title: #2B3674;
    --color-text-secundary: #A3AED0;
    --color-text-active: #2B3674;
    --color-text-disable: #A3AED0;

    --color-icons: #1A00FF;
    --color-right: #1EA83F;
    --color-wrong: #B81414;
    --color-text: #000000;

    --color-button: #1A00FF;
    --color-button-disble: #B6B6BD;
    --color-button-hover: #0F018E;
    --color-button-text: #FFFF;
    
    /* Font Family */
    --font-family-h1: "Inter Black", sans-serif;
    --font-family-h2: "Inter Extra Bold", sans-serif;
    --font-family-h3: "Inter Semi Bold", sans-serif;
    --font-family-regular-p: "Inter Regular", sans-serif;
    --font-family-bold-p: "Inter Bold", sans-serif;
    --font-family-medium-p: "Inter Medium", sans-serif;
    --font-family-light-p: "Inter Light", sans-serif;

    /* Font Size */
    --font-size-h1: 3.75rem; /* 64px */
    --font-size-h2: 2.25rem; /* 36px */
    --font-size-h3: 1.25rem; /* 36px */
    --font-size-title: 1.625rem; /* 26px */

    --font-size-mini-details: 0.75rem; /* 12px */
    --font-size-details: 0.875rem; /* 14px */
    --font-size-regular-p: 1rem; /* 16px */

    --font-size-card-p: 1.5rem; /* 24px */
}

a{
    text-decoration: none;
    color: var(--color-text);
    font-family: var(--font-family-medium-p);
    transition: 0.5s;

}

a:hover{
    color: var(--color-button-hover);
    transform: scale(1.02);
}

/* Buttons */

.button-primary-large{
    width: 6.375rem; /* 102px */
    height: 2.5rem; /* 40px */
    font-family: var(--font-family-regular-p);
    font-size: var(--font-size-mini-details);
    border-radius: 10px;
    background-color: var(--color-button);
    color: var(--color-button-text);
    border: none;
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
}

.button-primary-large:hover{
    background-color: var(--color-button-hover);
}

.button-secundary-large{
    width: 6.375rem; /* 102px */
    height: 2.5rem; /* 40px */
    font-family: var(--font-family-regular-p);
    font-size: var(--font-size-mini-details);
    border-radius: 10px;
    background-color: transparent;
    color: var(--color-button-hover);
    border: 2px var(--color-button-hover) solid;
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
}

.button-secundary-large:hover{
    background-color: var(--color-button-hover);
    color: var(--color-button-text);
}
